/* HomePage.style */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 30px;
    margin-bottom: 8vh;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

button {
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #e60000;
}

.btn-danger {
    background-color: #dc3545 !important; /* Red background for danger button */
    border: none; /* Remove border */
}

.btn-danger:hover {
    background-color: #c82333 !important; /* Darker red on hover */
}